body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  background-color: #9e9e9e29;
}

* {
  box-sizing: border-box;
}

#logo {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat';
}

.link {
  color: white;
  text-decoration: none;
}

.choices {
  background-color: #0089ff;
  width: 75%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 10px 0;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
}

input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
}

button {
  padding: 10px;
  border-radius: 5px;
}
